/*li>label.desc {
    color: red;
}*/

/* THEMATIC GROUP */
legend {
    color: darkGreen;
}
form>fieldset>ul>li>fieldset>ul>li>fieldset {
    border: 1px solid darkGreen !important;
}


/* CATEGORY */
form>fieldset>ul>li>fieldset>legend {
    color: red;
}
form>fieldset>ul>li>fieldset {
    border: 1px solid red !important;
}

.form_helptext {
    border: 1px solid #660000;
    font-size: 0.8em;
    padding: 2px;
    background-color: lightgray;
    margin: 10px 0;
}

div.form_helptext {
    float: left;
    margin: 2px 5px;
}

.form_helptext.form_checkbox {
    float: left;
    margin-bottom: 7px;
}

button.formstepactive {
    background-color: lightgoldenrodyellow !important;
}

button.formsubmit {
    background-color: darkseagreen !important;
}

div.formFlashNotice {
    background: #fff6bf;
    color: #514721;
    border: 1px solid #ffd324;
    padding: 0 10px;
}

div#create-new-stakeholder {
    display: none;
}

div#new-stakeholder-buttons {
    padding: 10px;
}

div#select-existing-stakeholder {
    display: none;
}

div#stakeholderformcontainer {
    background-color: lightgoldenrodyellow;
}

input.readonly {
    background-color: #E8E8E8 !important;
    border: 1px solid #B5BCC7 !important;
}

li.shtoomanyresults {
    color: orange;
}

li.shnothingfound {
    color: darkred;
}

div#stakeholderformcontainer {
    padding: 10px;
    display: none;
}

span.shautocompletedescription {
    font-size: 0.8em;
}

input#shselectinput {
    width: 300px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}

/* NUMBER SPINNER */
.ui-spinner {
	position:relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}

span.ui-spinner {
	border-radius: 0;
}

span.ui-spinner input {
	font-size: 0.8em;
}

.ui-spinner-input {
	border: none;
	background: none;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}

.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}

.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}

.ui-spinner-up {
	top: 0;
}

.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position:-65px -16px;
}