table#compare-table{
    width: 98%;
}
.remove {
    background-color: lightcoral !important;
}
.add {
    background-color: lightgreen !important;
}
.button-link {
    background-image: url('/static/img/link.png') !important;
}
.button-refresh {
    background-image: url('/static/img/view-refresh.png') !important;
}
.button-review {
    background-image: url('/static/img/review.png') !important;
}
.button-save {
    background-image: url('/static/img/save1.png') !important;
}
.button-compare {
    background-image: url('/static/img/compare.png') !important;
}
.notice {
    background-color: #ffffcc;
    border: 1px solid #808080;
}