.zoom-in-button {
    background-image:url("/static/img/zoom-in.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.zoom-out-button {
    background-image:url("/static/img/zoom-out.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.pan-button {
    background-image:url("/static/img/pan.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.zoom-region-button {
    background-image: url("/static/img/zoom-region.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.identify-button {
    background-image: url("/static/img/identify.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.create-button {
    background-image: url("/static/img/point-create.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.delete-button {
    background-image: url("/static/img/point-delete.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.move-button {
    background-image: url("/static/img/point-move.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.save-button {
    background-image: url("/static/img/save1.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.cancel-button {
    background-image: url("/static/img/process-stop.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.add-info-button {
    background-image: url("/static/img/list-add.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.add-involvement-button {
    background-image: url("/static/img/link_add.png") !important;
    height: 24px !important;
    width: 24px !important;
}
.ico-key { 
    width:15px;
    height:15px;
    background-image:url("/static/img/symbol_key.png") !important
}

.ico-value { 
    width:15px;
    height:15px;
    background-image:url("/static/img/symbol_value.png") !important
}

.toolbar-button-add {
    width: 16px !important;
    height: 16px !important;
    background-image: url("/static/img/add.png") !important;
}

.toolbar-button-delete {
    width: 16px !important;
    height: 16px !important;
    background-image: url("/static/img/cancel.png") !important;
}

.toolbar-button-accept {
    width: 16px !important;
    height: 16px !important;
    background-image: url("/static/img/accept.png") !important;
}

p.version_info {
    border: 1px solid silver;
    background-color: #FFFFCC;
    padding: 5px;
}

span.new {
    color: green;
}

span.modified {
    color: blue;
}

span.deleted {
    color: red;
}

span.green {
    color: green;
}

span.red {
    color: red;
}

div.toolbar_username {
    background-color: transparent;
    font-size: 11px;
}

div.login {
    border: 1px solid silver;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

div.login-warning {
    background-color: #F68E1D;
}

fieldset.simple_login {
    border: 1px solid silver;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

input.simple_login {
    width: 194px;
}

div.error_div {
    border: 1px solid red;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}

span.grey {
    color: #808080;
}

div.notice {
    background-color: #ffffcc;
    border: 1px solid #808080;
}

div.warning {
    background-color: #ffccaa;
    border: 1px solid #808080;
}

div.blank {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.olLayerGoogleCopyright {
    right: 3px;
    bottom: 2px;
    left: auto;
}
.olLayerGoogleV3.olLayerGoogleCopyright {
    bottom: 0px;
    right: 0px !important;
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 2px;
}
.olLayerGoogleV3.olLayerGooglePoweredBy {
    bottom: 0px !important;
}
div.olLayerGoogleCopyright,
div.olLayerGooglePoweredBy
{
    display: none !important;
}
/* Style for the main html page */
#header-div {
    float: left;
    width: 100%;
    padding: 5px;
}
#header-div h1 {
    font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
    font-size: 16px;
}
#logo-div {
    float: right;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    overflow: hidden;
}

td.status-pending {
    /* Add a light-salmon background to pending versions in the activtiy grid */
    background-color: #ffa07a !important;
    font-style: italic !important;
}