# Ignore compiled Python files
*.pyc
*.pyo

# Ignore PyDev project files
.project
.pydevproject
.settings

# Ignore Netbeans project folder
/nbproject/
.idea/*

# Ignore sublime project files
*.sublime-project
*.sublime-workspace

# Ignore Pyramid log folder
/logs/

# Ignore mail folder used for local debugging
/mail

# Ignore packages
*.egg
*.egg-info

# Ignore node modules
/node_modules

# Ignore configuration files
*.ini

# Ignore LMKP egg
LMKP.egg-info/

# Ignore documentation builds
/docs/_build/*

# Ignore session data and locks
data/sessions/
