# Ignore compiled Python files
*.pyc
*.pyo

# Ignore PyDev project files
.project
.pydevproject
.settings

# Ignore Netbeans project folder
/nbproject/

# Ignore Pyramid log folder
/logs/

# Ignore packages
*.egg
*.egg-info

# Ignore JavaScript libraries, execpt d3
lmkp/static/lib/*
!lmkp/static/lib/d3/
lmkp/static/lib.tar.gz
.pydevproject
.project

# Ignore configuration files
*.ini

# Ignore all customization folders except the sample folder
lmkp/customization/*
!lmkp/customization/sample/

# Ignore generate JSON files
activities.json
stakeholders.json
# Ignore LMKP egg
LMKP.egg-info/

# Ignore documentation builds
/docs/_build/*

# Ignore sublime project files
*.sublime-project
*.sublime-workspace

.idea/*

# Ignore session data and locks
data/sessions/
