# Ignore compiled Python files
*.pyc
*.pyo

# Ignore PyDev project files
.project
.pydevproject

# Ignore packages
*.egg
*.egg-info

# Ignore JavaScript libraries
lmkp/static/lib/
.pydevproject
.project

# Ignore compiled translation files
*.mo