.inputToken {
    float: none !important;
}

.singleToken {
    background-color: #F7F7F7;
    border: 1px solid silver;
    color: #333333;
    margin-bottom: 10px;
}

.inputTokenHelp {
    color: #333333;
    cursor: pointer;
}
